# This file is written in HOCON (Human-Optimized Config Object Notation) format. 
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
     d { actionId: ShowErrorDescription, description: Err }
     r { 
         description: R
         bindings {
             n { actionId: RenameElement, description: Rename }
         }
     }
     f {
         description: File
         bindings {
             g { actionId: FindInPath, description: Global find }
             f { actionId: GotoFile, description: Go to file }
	         b { actionId: Find, description: Find }
         }
     }
     g {
	     description: Go
	     bindings {
	         g { actionId: ActivateCommitToolWindow, description: Git }
	     }
     }
}
